<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hlavní stránka</h1>

    <form method="post" action="/">
        <input type="hidden" name="form_type" value="anketa">
        <input type="submit" value="Přejdi na tvorbu ankety">
    </form>
<hr>
    <form method="post" action="/">
        <input type="hidden" name="form_type" value="prihlaseni">
        <p>Zadej jméno</p>
        <input type="text" name="element3">
        <p>Zadej příjmení</p>
        <input type="text" name="element4">
        <input type="submit">
    </form>
    
</body>
</html>